DB_HOST= # database connection string
PORT= # port backend listens on
JWT_SECRET= # jwt secred key
CLOUDINARY_NAME= # cloudinary storage user name
CLOUDINARY_KEY= # clouinary key
CLOUDINARY_SECRET= # cloudinary secret